<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	</configSections>

	<log4net>
		<!-- levels: OFF > FATAL > ERROR > WARN > INFO > DEBUG  > ALL -->
		<root>
			<priority value="ALL"/>
			<level value="ALL"/>
			<!--<appender-ref ref="rollingAppender" />-->
			<appender-ref ref="debugAppender" />
			<appender-ref ref="infoAppender" />
			<appender-ref ref="warnAppender" />
			<appender-ref ref="errorAppender" />
			<appender-ref ref="fatalAppender" />
		</root>
		<!--按文件大小与个数建立日志文件-->
		<!--<appender name="rollingAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Log4net/" />
			<appendToFile value="true" />
			<param name="StaticLogFileName" value="false" />
			<rollingStyle value="Date" />
			<datePattern value="yyyy\\yyyy-MM\\yyyy-MM-dd'.log'" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="*——*——*——*——*——*——Begin——*——*——*——*——*——*&#13;&#10;记录时间：%d%n线程ID：%t%n日志类型：%-5p%n日志位置：%c%n%m%n*——*——*——*——*——*——E n d——*——*——*——*——*——*&#13;&#10;" />
			</layout>
		</appender>-->

    <!-- DEBUG级别的appender -->
    <appender name="debugAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log4net/debug" />
      <datePattern value="\\yyyy-MM\\yyyy-MM-dd'.log'" />
      <appendToFile value="true" />
      <param name="StaticLogFileName" value="false" />
      <rollingStyle value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="*——*——*——*——*——*——Begin——*——*——*——*——*——*&#13;&#10;记录时间：%d%n线程ID：%t%n日志类型：%-5p%n日志位置：%c%n%m%n*——*——*——*——*——*——End——*——*——*——*——*——*&#13;&#10;" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="DEBUG" />
      </filter>
    </appender>

    <!-- INFO级别的appender -->
    <appender name="infoAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log4net/info" />
      <datePattern value="\\yyyy-MM\\yyyy-MM-dd'.log'" />
      <appendToFile value="true" />
      <param name="StaticLogFileName" value="false" />
      <rollingStyle value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="*——*——*——*——*——*——Begin——*——*——*——*——*——*&#13;&#10;记录时间：%d%n线程ID：%t%n日志类型：%-5p%n日志位置：%c%n%m%n*——*——*——*——*——*——End——*——*——*——*——*——*&#13;&#10;" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
    </appender>

    <!-- WARN级别的appender -->
    <appender name="warnAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log4net/warn" />
      <datePattern value="\\yyyy-MM\\yyyy-MM-dd'.log'" />
      <appendToFile value="true" />
      <param name="StaticLogFileName" value="false" />
      <rollingStyle value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="*——*——*——*——*——*——Begin——*——*——*——*——*——*&#13;&#10;记录时间：%d%n线程ID：%t%n日志类型：%-5p%n日志位置：%c%n%m%n*——*——*——*——*——*——End——*——*——*——*——*——*&#13;&#10;" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="WARN" />
      </filter>
    </appender>

    <!-- ERROR级别的appender -->
    <appender name="errorAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log4net/error" />
      <datePattern value="\\yyyy-MM\\yyyy-MM-dd'.log'" />
      <appendToFile value="true" />
      <param name="StaticLogFileName" value="false" />
      <rollingStyle value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="*——*——*——*——*——*——Begin——*——*——*——*——*——*&#13;&#10;记录时间：%d%n线程ID：%t%n日志类型：%-5p%n日志位置：%c%n%m%n*——*——*——*——*——*——End——*——*——*——*——*——*&#13;&#10;" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
      </filter>
    </appender>

    <!-- FATAL级别的appender -->
    <appender name="fatalAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log4net\fatal" />
      <datePattern value="\\yyyy-MM\\yyyy-MM-dd'.log'" />
      <appendToFile value="true" />
      <param name="StaticLogFileName" value="false" />
      <rollingStyle value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="*——*——*——*——*——*——Begin——*——*——*——*——*——*&#13;&#10;记录时间：%d%n线程ID：%t%n日志类型：%-5p%n日志位置：%c%n%m%n*——*——*——*——*——*——E n d——*——*——*——*——*——*&#13;&#10;" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="FATAL" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
  </log4net>
</configuration>